
.header {
  padding: 0 1rem;
  flex: 1;
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  gap: 2rem;
  align-items: center;
  }

.content h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-dark);
  }

.content h1 span {
  font-weight: 400;
    }
.content {
    margin-bottom: 2rem;
    color: var(--text-light);
    line-height: 1.75;
}

.image{
  position: relative;
  text-align: center;
  isolation: isolate;
  }
  .image__bg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 450px;
  background-color: var(--primary-color);
  border-radius: 100%;
  z-index: -1;
  }
.image img{
    width: 100%;
    max-width: 475px;
  }

.image__content{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1em;
    text-align: left;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 5px 5px 20px  rgba(0,0,0,0.2);
    }

.image__content__2 {
  transform: translate (calc(-50% + 8rem), calc(-50% + 10rem));
  }
.image__content__2 ul {
  list-style: none;
  display: grid;
  gap: 1rem;
  }
.image__content__2 li {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  color: var(--text-light);
  }

.image__content__2 span{
  font-size: 1.5rem;
  color:rgb(41, 40, 40)

}

@media (width < 900px) {
  .nav_links{
  display: none;
  }
}


.content {
    text-align: center;
  }
.image {
    grid-area: 1/1/2/2;
}


.service{
  background-color:white;
  border:15px solid white;
  border-radius:5px ;
  text-align: center;
}



/*******************************************************/
.foolast{
  background-color: #2d2d2d;
  color: rgb(229, 226, 226);
  border: 2px solid #2d2d2d;
  border-radius: 15px;

}